body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
}

.container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
}

.buttons-layer {
    margin-bottom: 20px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    background: radial-gradient(circle, #64b3f4, #b794f4);
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    border: solid 1px white;
}

.button:hover {
    color: #5271ff;
    border: solid 1px #5271ff;
}

.button:disabled {
    color: black;
    border: solid 1px #888;
    background: radial-gradient(circle, #888, #ccc);
}

#result-container {
    font-size: 24px;
}

#limit-container {
    margin-top: 10px;
    font-size: 18px;
    background-color: orange;
    border-radius: 5px;
    visibility: hidden;
}

#counter-value-container {
    border-radius: 5px;

    &.negative{
        background-color: green;
    }

    &.positive {
        background-color: yellow;
    }

    &.zero {
        background-color: red;
    }
}